:root {
	--black-color: #263238;
	--base-color: #BAEF00;
	--base-color-hover: #09FF56;
	--base-color-active: #A3D200;
	--border-color: #E3E3E3;
	--price-color: #6C6C6C;
	--placeholder-color: #8D8D8D;
	--transition-duration: .3s;
}

html {
	box-sizing: border-box;
}

/* наследуем от родителя */
*, 
::after,
::before {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	color: var(--black-color);
	background-color: white
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}


/* Ссылка */
.default-link {
	color: var(--black-color);
	text-decoration: underline;
	/* анимации ссылки */
	transition: color var(--transition-duration), background-color var(--transition-duration);
}

/* focus-visible - эл. получил фокус через Tab */
.default-link:focus-visible {
	/* отсутствует рамка на объекте при фокусе */
	outline: none;
	background-color: var(--base-color);
}

.default-link:hover {
	color: var(--base-color-hover);
}

.default-link:active {
	color: var(--base-color-active);
}

/* Кнопка */
.default-btn {
	/* тк ссылки по умолчанию inline */
	display: inline-block;
	padding: 11px 47px;
	background-color: var(--base-color);
	color: var(--black-color);
	border-radius: 12px;
	border: none;
	/* 1-пиксельная видимая рамка (outline) с прозрачным цветом */
	outline: 1px solid transparent;
	/* расстояние между контуром элемента и его краем */
	outline-offset: 2px;
	transition: outline-color var(--transition-duration), background-color var(--transition-duration);
	cursor: pointer;
}

.default-btn:focus-visible {
	outline-color: var(--base-color);
}

.default-btn:hover {
	background-color: var(--base-color-hover);
}

/* текстовое поле */
.input-field {
	/* верх, право, низ, лево */
	padding: 11px 16px 11px 16px;
	border-radius: 12px;
	border: 1px solid var(--border-color);
	transition: border-color var(--transition-duration);
	outline: none;
}

.input-field::placeholder {
	color: var(--placeholder-color);
}

.input-field:focus {
	border-color: var(--base-color);
}

/* Подзаголовок */

.subtitle {
	/* по БЭМ важно избавиться от внешних отступов, которые у заголовков бывают по умолчанию */
	margin: 0;
	text-align: center;
	/* толщина шрифта */
	font-weight: 700px;
	font-size: 34px;
}

/* Лого */
.logo {
	display: block;
	width: 154px;
}

/* Меню */

.menu__list {
	display: flex;
	align-items: center;
	gap: 50px;
	/* убрали точки у списка */
	list-style: none;
	margin: 0;
	/* убираем дефолтные отступы слева */
	padding-left: 0;
}

.menu__link {
	color: white;
	outline: none;
	transition: color var(--transition-duration), background-color var(--transition-duration);
}

.menu__link:focus-visible {
	/* отсутствует рамка на объекте при фокусе */
	outline: none;
	color: var(--black-color);
	background-color: var(--base-color);
}

.menu__link:hover {
	color: var(--base-color-hover);
}

.menu__link:active {
	color: var(--base-color-active);
}

/* Форма обратной связи */
.callback-form {
	display: flex;
	gap: 16px;
}

.callback-form__inp {
	flex-basis: 288px;
}

/* Карточка товара */
.product-card {
	/* flex здесь для того, чтобы кнопку прокидывать всегда на низ карточки */
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 12px;
	border: 1px solid var(--border-color);
}

.product-card__img {
	display: block;
	/* чтобы изображение не сжималось */
	flex-shrink: 0;
	width: 100%;
	height: 180px;
	/* изображение вылезало из контейнера */
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	/* изображение масштабируется так, чтобы его реальный размер был отображен. Если размер например меньше контейнера, то останутся пустые места */
	object-fit: contain;
}

.product-card__body {
	/* все flex свойства ради прижатия к низу кнопки */
	display: flex;
	flex-direction: column;
	/* элемент будет растянут на всю доступную ширину контейнера, заполняя его по горизонтали */
	flex-basis: 100%;
	justify-content: space-between;
	padding: 15px;
}

.product-card__body-top {
	margin-bottom: 22px;
}

.product-card__title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 21px;
	font-weight: 700;
}

.product-card__price {
	font-size: 18px;
	color: var(--price-color);
	font-weight: 700;
}

.product-card__btn {
	width: 100%;
}

.product-card_big {
	border: none;
	/* двигается от своей позиции*/
	position: relative;
	height: 350px;
}

.product-card__img_big { 
	height: 100%;
	border-radius: 12px;
	/* изображение будет растянуто или уменьшено таким образом, чтобы оно полностью заполнило контейнер, сохраняя при этом его пропорции */
	object-fit: cover;
}

.product-card__body_big {
	/* игнорирование присутствия элемента, двигается от родителя */
	position: absolute;
	/* будет выравниваться по нижней границе  родительского элемента */
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	border-radius: 12px;
	color: white;
	align-items: flex-start;
}

.product-card__price_big {
	color: white;
}

.product-card__btn_big {
	/* теперь кнопка не на всю ширину */
	width: initial;
}


@media (max-width: 920px) {
	/* Форма обратной связи */
	.callback-form {
		flex-direction: column;
	}
	
	.callback-form__inp {
		/* будет использовано начальное значение*/
		flex-basis: initial;
	}
	/* карточка товара */
	.product-card__img {
		height: 90px;
	}
	
	.product-card__body {
		padding: 10px;
	}
	
	.product-card__body-top {
		font-size: 14px;
	}

	.product-card__price {
		font-size: 14px;
	}

	.product-card__img_big {
		height: 100%;
	}

	.product-card__btn_big {
		/* кнопка на всю ширину при 740px */
		width: 100%;
	}
}