html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	/* изображение будет сжиматься под экран, то есть не будет создаваться горизонтальная полоса прокрутки*/
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	/* sans-serif - шрифт без засечек */
	font-family: 'Oswald', sans-serif;
	/* по дефолту шрифт 400 будет */
	font-weight: 400;
}

.container {
	/* это максимальная ширина контейнера. В фигме так накрутили - все по 1100px */
	max-width: 1110px;
	margin: 0 auto;
}

:root {
	--accent-color: #f7654a;
	--dark-color: #404149;
	--gray-color: #999999;
	--white-color: #ffffff;
	--backgroung-color: #e5e5e5;
}

.text-h2 {
	font-family: 'Oswald', sans-serif;
	/* медиум начертания */
	font-weight: 500;
	font-size: 36px;
	/* регистр текста */
	text-transform: uppercase;
}

.text-h3 {
	font-family: 'Oswald', sans-serif;
	/* медиум начертания */
	font-weight: 500;
	font-size: 24px;
}

.text-h4 {
	font-family: 'Oswald', sans-serif;
	/* медиум начертания */
	font-weight: 500;
	font-size: 21px;
	letter-spacing: 0.02em;
}

.text-p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.text-p-reviews {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/* велична пространства между строками */
	line-height: 21px;
}

.header {
	min-height: 740px;
	background-image: url(../image/first-screen.jpg);
	/* чтобы изображение не повторялось по вертикали и горизонтали */
	background-repeat: no-repeat;
	/* чтобы изображение вписывалось в свои размеры */
	background-size: cover;
}
.header__title {
	padding-top: 20px;
	margin-bottom: 112px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.logo {
	width: 60px;
	height: 60px;
}
.burger {
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding: 0;
	background-color: var(--accent-color);
	border: none;
	display: flex;
	/* позволяет делать элементы вертикально рядом */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.burger__line {
	display: block;
	width: 21px;
	height: 3px;
	background-color: #ffffff;
	margin-bottom: 4px;
}
.burger__line:last-child {
	margin-bottom: 0;
}
.h1 {
	/* толщина шрифта */
	font-weight: 500;
	font-size: 64px;
	text-align: center;
	/* устанавливает расстояние между строками текста */
	line-height: 95px;
	/*  управляет расстоянием между буквами текста */
	letter-spacing: 0.02em;
	text-transform: uppercase;
	max-width: 734px;
	margin: 0 auto 17px;
	color: var(--white-color);
}

@media screen and (max-width: 380px) {
	.h1 {
		font-size: 46px;
		line-height: 64px;
	}
}

.h4 {
	margin: 0 auto;
	font-weight: 400;
	max-width: 734px;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-color);
}

.about {
	padding-top: 250px;
	min-height: 1080px;
	/* чтобы элемент мог наехать на другой элемент */
	position: relative;
}

.info {
	/* размещение в заданной точке на странице */
	position: absolute;
	top: -150px;
	background-color: #f7f7f7;
	/* элемент был выровнен по горизонтальной линии на 50% ширины его родительского элемента */
	left: 50%;
	/* переносит его по оси X на -50% его собственной ширины */
	transform: translateX(-50%);
	max-width: 1110px;
	min-height: 300px;
	width: 100%;
	padding: 57px 130px;
}
.about__grid {
	display: grid;
	/* размер колонок, их количество, пространство между ними */
	grid-template-columns: repeat(4, 1fr);
	/* расстояние между столбцами */
	gap: 18px;
	/* выравнивания элементов внутри ячеек сетки по горизонтали по центру */
	justify-items: center;
}
.about__grid-item {
	/* центрирование текста внутри блоков по горизонтали */
	text-align: center;
	width: 190px;
}
.about__h4 {
	color: var(--accent-color);
	font-size: 72px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.about__h5 {
	color: #000;
	font-size: 36px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
.about__p {
	color: var(--gray-color);
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

@media screen and (max-width: 1280px) {
	.about__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.info {
		position: relative;
		padding: 30px 0;
	}
	.about__grid {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

.project-h2 {
	text-align: center;
	margin-bottom: 50px;
}

.about__flex {
	display: flex;
}

.about__flex-item {
	max-width: 350px;
	margin-right: 30px;
}

.about__flex-item:last-child {
	margin-right: 0px;
}

.project-img {
	margin-bottom: 45px;
}

.rectangle {
	width: 56px;
	height: 6px;
	background-color: var(--accent-color);
	margin-bottom: 15px;
}

.project-h3 {
	color: var(--dark-color);
	margin-bottom: 13px;
}

.project-p {
	color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
	.about {
		padding: 450px 15px 110px 15px;
	}
}

@media screen and (max-width: 768px) {
	.about {
		padding-top: 150px;
		padding-bottom: 80px;
	}
	.about__flex {
		flex-direction: column;
		align-items: center;
	}
	.about__flex-item {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.about__flex-item:last-child {
		margin-bottom: 0;
	}
}

.request {
	background-color: var(--accent-color);
	padding-top: 30px;
	padding-bottom: 40px;
}
.request__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.request__flex-left {
	color: var(--white-color);
}
.request__h4 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 71px;
	/* расстоянием между символами */
	letter-spacing: 0.02em;
	margin-bottom: 7px;
}
.request__h5 {
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}
.request__flex-right {
}
.request__btn {
	margin-top: 20px;
	border: none;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	padding: 14px 30px;
}
.request__icon {
	margin-right: 15px;
}

@media screen and (max-width: 1280px) {
	.request {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 768px) {
	.request__flex {
		/* позволить перенос элементов */
		flex-wrap: wrap;
	}
}

.services {
	padding: 150px 0;
}

.section__h2,
.services__h4 {
	color: #000;
	text-align: center;
}

.section__h2 {
	margin-bottom: 55px;
}

.services__h4 {
	margin: 0 auto;
	max-width: 172px;
	text-transform: uppercase;
}

.services__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	justify-items: center;
}
.services__grid-item {
	padding: 59px 0;
	background-color: #f7f7f7;
	width: 350px;
}
.services-icon {
	margin: 0 auto 21px;
}

@media screen and (max-width: 1280px) {
	.services {
		padding-left: 15px;
		padding-right: 15px;
	}
	.services__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.services__grid-item {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.services__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.portfolio {
}

.portfolio__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* содержимое каждой ячейки сетки будет выравниваться по центру горизонтально внутри этой ячейки */
	justify-items: center;
	gap: 0;
}

.portfolio__grid-item {
}

.portfolio__img {
}

@media screen and (max-width: 1280px) {
	.portfolio__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.portfolio__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.question {
	padding-top: 150px;
	padding-bottom: 110px;
}

.text-h2 {
}

/* тк селекторы написаны через пробел, то это значит, что мы ищем .section__h2 как дочерний селектор в .question */
.question .section__h2 {
	margin-bottom: 50px;
}
.question_items {
}
.question_item {
}

.question_h3 {
	text-transform: uppercase;
	color: var(--accent-color);
	margin-bottom: 23px;
}

.question__p {
	margin-bottom: 40px;
	color: var(--gray-color);
	max-width: 730px;
}


@media screen and (max-width: 1280px) {
	.question {
		padding: 150px 15px 110px;
	}
}

.partners {
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--dark-color);
}

.partners__h2 {
	color: var(--white-color);
	text-align: center;
	margin-bottom: 50px;
}
.partners__flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.partners__item {
	margin-right: 40px;
	margin-bottom: 20px;
}

.partners__item:nth-child(5n) {
	margin-right: 0;
}

@media screen and (max-width: 1280px) {
	.partners__flex {
		justify-content: center;
	}
	.partners__item:nth-child(5n) {
		margin-right: 10px;
		margin-left: 10px;
	}
	.partners__item:nth-child(5n) {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.reviews {
	padding: 150px 0 142px;
}

.reviews-h2 {
	text-align: center;
	margin-bottom: 60px;
}

.reviews__grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.reviews__grid-item {
}

.reviews__card {
	background-color: #f7f7f7;
	padding: 28px 30px;
	margin-bottom: 35px;
}

.reviews__quotes {
	font-size: 96px;
	color: var(--accent-color);
	line-height: 1;
	margin-bottom: -40px;
}

.reviews__author-accent {
	color: var(--accent-color);
}

@media screen and (max-width: 1280px) {
	.reviews {
		padding: 100px 15px;
	}
	.reviews__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.reviews__grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.contacts {
	padding: 100px 0 150px;
}

.contacts__h2 {
	text-align: center;
	margin-bottom: 60px;
}

.contacts__grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}

.contacts__item {
	max-width: 255px;
	text-align: center;
}

.contacts__icon {
	width: 50px;
	height: 50px;
	margin: 0 auto 13px;
}

.contacts__h3 {
	text-transform: uppercase;
}

.contacts__h3 a { 
	/* убираем подчеркивание */
	text-decoration: none;
	/* цвет будет унаследован от родителя данного элемента */
	color: inherit;
}

.contacts__h3-gray {
	color: var(--gray-color);
	margin-bottom: 18px;
}

.contacts__h3-accent {
	color: var(--accent-color);
}

@media screen and (max-width: 1280px) {
	.contacts__grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.contacts__item {
		max-width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.contacts__grid {
		grid-template-columns: repeat(1, 1fr);
	}
	.contacts__item {
		max-width: 100%;
	}
}

.footer {
	padding: 30px;
	background-color: var(--dark-color);
	color: var(--white-color);
}
.footer__flex {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1280px) {
	.footer {
		padding: 30px 15px;
	}
}

@media screen and (max-width: 768px) {
	.footer__flex {
		flex-direction: column;
	}
}

.footer__copyright {
}
.footer__brand {
}
