@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(93deg, #0407ce 0%, #000000 100%);
}

p {
    color: rgb(1, 178, 248);
}

.nav-link {
    color: rgb(1, 178, 248);
}

.navbar-nav .nav-link.active {
    color: aqua;
}

.navbar-brand img{
    width: 100px;
}

.dropdown-menu li {
    display: flex;
    margin-left: 1px;
}

.dropdown-menu img {
    float: left;
}

.navbar-toggler {
    background-color: rgb(1, 178, 248);
}

.sidebar {
    color: rgb(1, 178, 248);
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
    color: rgb(1, 178, 248);
}

.card a {
    text-decoration: none;
    color: rgb(1, 178, 248);
}

footer, 
.btn-outline-primary {
    background: linear-gradient(270deg, #0407ce 0%, #000000 100%);
}
.slide-text, 
.footer-text {
    color: rgb(1, 178, 248);
    /* по x и по y зададим центральное
    положение от контейнера, в котором
    находится тег p */
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}